n8n/workflows/daily-briefing.json
{
  "name": "Causal BI · Daily Briefing 07:00",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1-5"
            }
          ]
        }
      },
      "name": "Mon–Fri 07:00",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/api/briefing/refresh",
        "method": "POST",
        "options": {
          "headers": {
            "parameters": [
              {
                "name": "X-API-Key",
                "value": "REPLACE_WITH_BIQ_API_KEY"
              }
            ]
          },
          "timeout": 60000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}"
      },
      "name": "POST /api/briefing/refresh",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "onError": "continueErrorOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-high-urgency",
              "leftValue": "={{ ($json.briefing && $json.briefing.signals || []).some(s => s.urgency === 'high') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Any high-urgency signal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 240]
    },
    {
      "parameters": {
        "url": "REPLACE_WITH_SLACK_WEBHOOK_URL",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"text\": \"{{ ':sunrise: *Causal BI · Tagesbriefing*\\n*' + $json.briefing.headline + '*\\n\\n' + ($json.briefing.signals || []).filter(s => s.urgency === 'high').map(s => '• *' + s.what + '*\\n  _Warum_: ' + s.why_for_you + '\\n  _Aktion_: ' + s.action).join('\\n\\n') + '\\n\\n<http://localhost:3000/markt-radar|Vollständiges Briefing →>' }}\"\n}"
      },
      "name": "Slack · Briefing Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 180]
    },
    {
      "parameters": {
        "url": "REPLACE_WITH_SLACK_WEBHOOK_URL",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"text\": \"{{ ':warning: *Causal BI · Tagesbriefing fehlgeschlagen*\\nDer 07:00-Refresh konnte das Briefing nicht erzeugen.\\n```\\n' + ($json.error || $json.message || JSON.stringify($json).slice(0, 500)) + '\\n```\\nBitte API-Logs prüfen und manuell auf <http://localhost:3000/markt-radar|Markt-Radar> nachladen.' }}\"\n}"
      },
      "name": "Slack · Error Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 420]
    }
  ],
  "connections": {
    "Mon–Fri 07:00": {
      "main": [
        [
          {
            "node": "POST /api/briefing/refresh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/briefing/refresh": {
      "main": [
        [
          {
            "node": "Any high-urgency signal?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack · Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any high-urgency signal?": {
      "main": [
        [
          {
            "node": "Slack · Briefing Summary",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Zurich"
  }
}
